<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de insercion de Incidencias</title>
</head>
<body>
<h1>Insertar una incidencia</h1>
<form action="/incidencias/insertar/alta" method="post">

    <input  type="hidden" id="incidenciaId" name="incidenciaId" ><br><br>

    <label for="usuario">Usuario:</label>
    <input  type="text" id="usuario" name="usuario"><br><br>

    <label for="fecha">Fecha:</label>
    <input  type="text" id="fecha" name="fecha"><br><br>

    <label for="prioridad">Prioridad:</label>
    <select id="prioridad" name="prioridad">
        <option value="1" selected >1</option>
        <option value="2" >2</option>
        <option value="3" >3</option>
        <option value="4" >4</option>
        <option value="5" >5</option>
        <option value="6" >6</option>

        <option value="7" >7</option>
        <option value="8" t>8</option>
        <option value="9" >9</option>
        <option value="10" >10</option>
    </select><br><br>

    <input type="submit" value="Insertar la Incidencia" class="button">
</form>

</body>
</html>